@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-white: #FFFFFF;
    --color-dark: #18181B;
    --color-dark-grey: #ccc;
    --color-blue: #0A2ECC;
    --color-light-blue: #F3F8FF;
}

body {
    background-color: var(--color-light-blue);
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: var(--color-white);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1,
p {
    color: var(--color-dark);
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    margin: 5px 0;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--color-dark-grey);
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--color-blue);
    outline: none;
}

button[type="submit"] {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

button[type="submit"]:hover {
    background-color: rgb(48, 82, 234);
}

input[type="checkbox"] {
    margin: 0 5px 20px 0px;
}

.page-link {
    color: var(--color-blue);
    text-decoration: none;
    padding: 10px 0;
    position: relative;
}

.page-link::after {
    background-color: var(--color-blue);
    content: "";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.3s ease-in, opacity 0.3s ease-in;
}

.page-link:hover::after {
    width: 100%;
}